.button{
    background-color: #7e52a0;
    color: white;
    border: 1px solid black;
    border-radius: 25px;
}

.button:hover{
    background-color: transparent;
    color: black;
    transition: all ease-in 200ms;
}