.wwoTitle{
    font-size: clamp(4rem, 2.8vw, 6vw);
    display: flex;
    justify-content: center;
}

.wwoFlex{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
    gap: 2rem;
    justify-content: space-evenly;
    margin-top: 10rem;
}

/* MODIFICAR */
.wwoGrid{
    display: grid;
    gap: 30px 100px;
    height: auto;
    width: 300px;
}

.wwoImgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.wwoImg{
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.wwoText{
    text-align: center;
}