.wwoTitle{
    font-size: 4.8rem;
}

.wwoFlex{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
    gap: 4rem;
    justify-content: space-around;
    margin-top: 10rem;
}

/* MODIFICAR */
.wwoGrid{
    display: grid;
    gap: 30px 100px;
    height: auto;
    width: 300px;
}

.wwoImgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wwoImg{
    background-color: #d9d9d9;
    height: 150px;
    width: 150px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wwoText{
    text-align: justify;
}