.card{
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(231, 231, 231);
}

.cardImg{
    height: 200px;
    width: 100%;
    object-fit: contain;
}

.cardBody{
    display: flex;
    flex-direction: column;
}

.cardBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
}

.cardLocation{
    margin: 0em 0;
}

.cardSocial{
    display: flex;
    align-items: center;
}

.cardSocial__Item{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

ion-icon{
    margin: 0;
    padding: 0;
}






