.teamTitle{
    font-size: clamp(4rem, 2.8vw, 6vw);
    margin-bottom: 8rem;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 16rem));
    gap: 2rem;
    justify-content: space-between;
}