.boxLabel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.infoProfile {
    display: flex;
    flex-direction: row;
    /* background-color: aquamarine; */
    height: 10vh;
}

.infoProfile article {
    margin-left: 3rem;
}

.infoProfile article h1 {
    font-size: 3rem;
}

.infoProfile article h2 {
    font-size: 2rem;
}

.mainInfoProfile {
    display: flex;
    flex-direction: column;
    /* background-color: tomato; */
    height: 25vh;
    gap: 1em;
    margin-top: 1em;
}

.petsProfile {
    display: flex;
    flex-direction: column;
    /* background-color: violet; */
    height: 50vh;
    margin-top: 1em;
}

.petsProfile article {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-top: 1em;
}

.petInfo {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-radius: 1em;
    height: min-content;
    width: 20vw;
}

.petData {
    align-items: center;
    justify-content: left;
    padding: 1em;
}