.cardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
  gap: 5rem;
  justify-content: center;
  margin: 6rem 0;
}

.homeTitle {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  text-transform: uppercase;
  font-size: 3rem;
}

.stickyFooter{
  margin-top: auto;
}
