.card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.cardImg {
  height: 25rem;
  width: 100%;
  object-fit: contain;
  object-position: bottom;
  transition: transform 200ms ease-in;
}

.cardImg:hover {
  transform: scale(1.01);
}

.cardTitle {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
}
