.foodWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
  gap: 8rem;
  justify-content: center;
  margin: 8rem 0;
}

.homeTitle {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.shopTitle {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 8rem 0 0;
}

.product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
  gap: 8rem;
  justify-content: center;
  margin: 10rem 0;
}

.foodFlex{
  display: flex;
  flex-direction: column;
}

.filter{
  grid-column: 1 / 2;
  grid-row: 1/4;
}


