.card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}


.cardImg {
  height: 30rem;
  width: 100%;
  object-fit: cover;
  object-position: center;
  background-color: gray;
}

.addFav {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0;
  margin: 1rem;
}

.cardBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.cardTitle {
  border-top: 1px solid gray;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0 0;
  padding: 1rem 0 0;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
}

.price{
  color: gray;
  font-size: 1.5rem;
  font-weight: 500;
}

.addButton {
  margin-top: 1rem;
}

.addButton:hover {
  color: red;
}

.cardInfo {
  bottom: 0px;
  background-color: white;
  width: 100%;
}
