.detailFlex{
    display: flex;
    justify-content: center;
    width: 69vw;
    margin: 100px auto;
}

.detailImg{
    width: 550px;
    height: 550px;
    margin-right: 50px;
}

.detailRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detailCategory{
    color: var(--gray);
    margin: 0.5rem 0;
    font-weight: 400;
}

.detailTitle{
    margin: 0;
    margin-bottom: 1rem;
    font-weight: 500;
}

.detailInfo{
    color: var(--gray);
    margin-bottom: 1rem;
}

.detailPrice{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.detailQuantity{
    color: var(--gray);
    margin: 0;
    font-size: 1.6rem;
    text-transform: uppercase;
}
.productQuantity{
    display: flex;
    align-items: center;
    
}

.stock{
    color: red;
    margin-bottom: 1rem;
}

.button{
    background-color: var(--white);
    padding: 0;
    font-size: 1.6rem;
    border: 1px solid var(--gray);
    border-radius: 6px;
    width: 30px;
    height: 30px;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.count{
    margin: 0 1.5rem;
    font-size: 1.8rem;
}

.detailAddCart{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.addButtonCart{
    width: 50%;
    margin-top: 1rem;
    border-radius: 5px;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
}