.detailFlex{
    display: flex;
    justify-content: center;
    width: 60vw;
    margin: 10rem auto;
}

.detailImg{
    width: 500px;
    height: 450px;
    background-color: gray;
    margin-right: 5rem;
}

.detailRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detailCategory{
    color: gray;
}

.detailTitle{
    margin-bottom: 2rem;
}

.detailInfo{
    color: gray;
    margin-bottom: 2rem;
}

.detailPrice{
    font-size: 4rem;
    margin-bottom: 2rem;
}

.detailQuantity{
    margin-bottom: 1rem;
    color: gray;
}
.productQuantity{
    display: flex;
    align-items: center;
}

.button{
    padding: 1rem;
    background-color: white;
    font-size: 2rem;
    border: 1px solid;
    border-radius: 5px;
}

.count{
    margin: 0 2rem;
    font-size: 2rem;
}

.detailAddCart{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.addButtonNow{
    margin-top: 2rem;
    border-radius: 5px;
    background-color: rgb(82, 185, 82);
}

.addButtonCart{
    margin-top: 2rem;
    border-radius: 5px;
}