.detailFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: var(--margin64) auto;
}

.detailImg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 490px;
    height: 590px;
    margin-right: 120px;
    object-fit: cover;
    object-position: center;
    border: 1px solid var(--gray);
    border-radius: 8px;
    background-color: white;
}

.detailRight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 350px;
}

.detailCategory{
    color: var(--tintColor);
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    font-size: var(--p);
}

.detailTitle{
    margin: 0;
    font-weight: 800;
    font-size: var(--regularFont);
    color: #0f0b02;
    text-transform: uppercase;
}

.detailInfo{
    color: #bbb7ae;
    margin-bottom: 16px;
    color: var(--darkGray);
}

.detailPrice{
    font-size: var(--mediumFont);
    margin-bottom: 16px;
    font-weight: 600;
    color: var(--shadowColor);
}

.detailQuantity{
    color: var(--gray);
    margin: 0;
    font-weight: 600;
    font-size: var(--p);
    text-transform: uppercase;
}
.productQuantity{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: fit-content;
    border: 1px solid #bbb7ae;
    border-radius: 8px;
    padding: 8px;
}

.stock{
    color: #bbb7ae;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}


.button{
    background-color: white;
    padding: 0;
    font-size: var(--p);
    width: 30px;
    max-height: fit-content;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin: 0;
}

.button:not(:last-child){
    border-right: 1px solid #bbb7ae;
}

.button:last-child{
    border-left: 1px solid #bbb7ae;
}

.count{
    margin: 0 14px;
    font-size: 18px;
}

.detailAddCart{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 10px;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartQuantity{
    color: var(--primaryColor);
    margin: 10px 0px;
    margin-top: 10px;
}