.shopFlex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 8rem 0;
}

.shopGrid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 28rem));
  gap: 8rem;
  justify-content: space-between;
  width: 100%;
  margin-left: 5rem;
}

.shopFilters{
  grid-column: 1 / 2;
  grid-row: 1 / 30;
}

.shopTitle{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}