.flexHero{
    display: flex;
    justify-content: space-between;
}

.leftHero{
    display: flex;
    flex-direction: column;
    width: auto;
}

.textHero{
    font-size: clamp(4rem, 4.5vw, 10vw);
}

.paragraph{
    font-size: clamp(1rem, 4.5vw, 1.3vw);
}

/* Button se parte de nuestra comunidad */
.previewItems{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.imgHero{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-size: contain;
    width: 460px;
}