.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product{
    font-size: 20px;
}

.primary{
    color: var(--primaryColor);
}