.container{
    margin: var(--margin80) auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    border: 1px dashed var(--gray);
    padding: 10px;
    background-color: white;
}

.title{
    text-transform: uppercase;
}

.total{
    color: var(--black);
    font-size: 20px;
    border-top: 1px dashed gray;
    padding: 10px;
}

.continuar{
    text-transform: uppercase;
    color: var(--shadowColor);
}

.buttonFlex{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pagar{
    margin-bottom: 5px;
}

