.chat{
    max-width: 80vw;
    min-width: 80vw;
    max-height: 45vh;
    min-height: 45vh;
    padding: 1rem;
    overflow: scroll;
    border:1px solid #BBB7AE;
    border-radius: 8px;
}

.titleChat {
    display: flex;
    justify-content: right;
    margin-bottom: .4rem;
    padding-right: 1rem;
}

.titleChat h2 {
    color: #0F0B02;
    font-weight: 600;
    font-size: medium;
}

.strong {
    color: #7e52a0;
}

.form{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.form input {
    width: 74vw;
    height: 10vh;
    padding: 1rem;
    border: .1rem solid #BBB7AE;
    border-radius: 8px;
}

.form button {
    margin-left: .4rem;
}