.container{
    margin-bottom: 60px;
}

.table{
    width: 100%;
}

.tr{
    display: flex;
    align-items: center;
}

.th{
    width: 100%;
    display: flex;
    justify-content: flex-start;   
}



.productName{
    text-align: left;
    margin: 0;
}

.total{
    font-weight: 800;
    display: flex;
    width: 100%;
    justify-content: center;
}

.price{
    font-weight: 400;
    display: flex;
    justify-content: center;
    width: 100%;
}

.addOneItem{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: fit-content;
    border: 1px solid #bbb7ae;
    border-radius: 8px;
    padding: 6px;
    height: 34px;
    background-color: white;
}

.centerButton{
    display: flex;
    justify-content: center;
    width: 100%;
}

.button{
    background-color: transparent;
    padding: 0;
    font-size: var(--p);
    width: 30px;
    height: 25px;
    max-height: fit-content;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    font-weight: bold;
    cursor: pointer;
}

.button:not(:last-child){
    border-right: 1px solid #bbb7ae;
}

.button:last-child{
    border-left: 1px solid #bbb7ae;
}

.count{
    margin: 0 10px;
    font-size: var(--p);
}

.buttonDelete{
    height: auto;
    display: flex;
    background-color: transparent;
    color: var(--primaryColor);
    padding: 0;
    margin-top: 10px;
    cursor: pointer;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
}