.container{
    border-top: 1px solid rgb(204, 204, 204);
}
.footerFlex{
    display: flex;
    justify-content: space-between; 
    padding: 3rem;
}

.footerSign{
    font-size: 2.5rem;
}

.newsletter{
    font-size: 1.6rem;
}

.email{
    width: 100%;
    height: 3.5rem;
    border: 1px solid rgb(189, 188, 188);
    outline: none;
    padding: 1rem;
    border-radius: 6px;
    margin: 2rem 0 1.5rem;
}

.submit{
    border: none;
    outline: none;
    cursor: pointer;
}

.navItem{
    padding: 0.5rem 0;
}

.navLink{
    color: black;
}

.footerBottom{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 3rem;
}

.copyright{
    margin-right: 32vw;
}

.social{
    background-color: black;
    width: 30px;
    height: 30px; 
}

