.favTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: var(--mediumFont);
    padding: 20px;
    margin: 0;
    color: var(--black);
}

.sectionFav h1 {
    font-weight: 800;
}

.gridFav {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 12px;
    margin-bottom: var(--margin64);
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 22px;
    border: 1px solid #bbb7ae;
    border-radius: 8px;
}

.favImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    margin-right: 22px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.nameFav {
    color: var(--black);
    font-size: var(--p);
    text-transform: uppercase;
}

.available {
    color: var(--darkGray);
    font-size: var(--p);
}

.cardData {
    display: flex;
    justify-content: space-between;
    align-items: center;
}