.buttonSec{
    width: auto;
    padding: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    border-color: #7e52a0;
    color: #7e52a0;
    font-weight: 500;
}

button{
    width: auto;
    padding: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    background-color: #7e52a0;
    color: #d8f3dc;
    font-weight: 500;
}