.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
}

h1{
    font-size: var(--mediumFont);
}

.buttonFlex{
    display: flex;
}

.margin{
    margin-right: 16px;
}