.card{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    background-color: rgb(216, 214, 214);
    position: relative;
}

.cardImg{
    height: 32rem;
    width: 100%;
    object-fit: contain;
    background-color: gray;
}

.addFav{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    margin: 1rem;
}

.cardBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardTitle{
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-start;
    margin: 0.5rem 0;
    text-transform: uppercase; 
}

.addButton:hover{
    color: red;
}

.cardInfo{
    bottom: 0px;
    background-color: white;
    width: 100%;
}