.categoriesWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
  gap: 8rem;
  justify-content: center;
  margin: 4rem 0;
}

.homeTitle {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.shopTitle {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 8rem 0 0;
}

.product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
  gap: 8rem;
  justify-content: center;
  margin: 10rem 0;
}

.seeAll {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.providersTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: var(--mediumFont);
  padding: 20px;
  margin: 0;
  color: var(--black);
}

.providersFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 64px 0;
}

.providersFilters {
  width: 220px;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 30;
  gap: 2rem;
}

.selects {
  width: 220px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.selects:not(:first-child) {
  margin: 40px 0;
}

.select {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid var(--darkGray);
  outline: none;
  background-color: transparent;
}

.providersGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 280px));
  gap: 40px;
  justify-content:flex-start;
  width: 100%;
  margin-left: 64px;
}

.filterTitle {
  color: var(--tintColor);
  text-transform: uppercase;
  font-weight: 700;
}

.paginado{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: var(--margin64);
}