.categoriesWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
    gap: 8rem;
    justify-content: center;
    margin: 4rem 0;
  }
  
  .homeTitle {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
  }
  
  .shopTitle {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 8rem 0 0;
  }
  
  .product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
    gap: 8rem;
    justify-content: center;
    margin: 10rem 0;
  }
  
  .seeAll {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .providersTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    padding: 2rem;
    margin: 0;
    color: rgb(0, 0, 0);
  }

  .providersFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 3rem 0;
  }

  .providersFilters{
    grid-column: 1 / 2;
    grid-row: 1 / 30;
    gap: 2rem;
  }

  .selects {
    display: flex;
    flex-direction: column;
  }

  .select {
    width: 200px;
    height: 3rem;
    border: none;
    border-bottom: 1px solid #0f0b02;
    outline: none;
    background-color: transparent;
  }

  .providersGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 20rem));
    gap: 4rem;
    justify-content:flex-start;
    width: 100%;
    margin-left: 5rem;
  }

  .filterTitle {
    color: #bbb7ae;
    text-transform: uppercase;
    font-weight: 700;
  }