.menu-container {
  position: relative;
}

.menu {
  background: #ffffff;
  position: absolute;
  top: 77px;
  right: 0;
  width: 200px;
  /* box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3); */
  border: 1px solid #bbb7ae;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: opacity 0.1s ease, transform 0.2s ease, visibility 0.1s;
  z-index: 999;
}

.menu::before{
  content: '';
  position: absolute;
  top: -10px;
  right: 17px;
  width: 20px;
  height: 20px;
  background-color: #7e52a0;
  transform: rotate(45deg);
  z-index: -1;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
}

.menu li:not(:last-child) {
  border-bottom: 1px solid #dddddd;
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 15px;
  display: block;
}

.menu li a:hover{
  color: #7e52a0;
}

.menu-trigger {
  background: #ffffff;
  border-radius: 90px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); */
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  background-color: transparent;
}

.menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menu-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.menu-trigger img {
  border-radius: 90px;
  
}

.profilePicture{
  width: 47px;
  height: auto;
  /* border: 3px solid #7e52a0; */
}

.picture-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile{
  display: flex;
  align-items: center;
  justify-content: center;
}

.button{
  background-color: transparent;
  color: #333333;
  padding: 15px 15px;
  text-transform: uppercase;
}

.button:hover{
  color: #7e52a0;
}

.li-flex{
  display: flex;
  
  align-items: center;
}

.log-out{
  transform: scaleX(-1);
  margin-left: 1rem;
}

.person-outline{
  margin-left: 1rem;
}
