.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoLink{
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: unset;
    color: #52b788;
}

.contents{
    display: flex;
    align-items: center;
    gap: 32px;
}


.profilePicture {
    width: 50px;
    height: 50px ;
    border-color: #52b788;
    border-style: solid;
    border-radius: 50%;
}

.navList{
    display: flex;
    align-items: center;
}

.navItem{
    margin: 0 1rem;
}

.navLink{
    padding: 0 2rem;
}

ion-icon{
    font-size: 2rem;
    margin: 0 1.5rem;
    color: #52b788;
}

.icons{
    display: flex;
    align-items: center;
    color: #52b788;
}

