.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 2.2rem;
    font-weight: bold;
}

.contents{
    display: flex;
    align-items: center;
}

.navList{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navItem{
    margin: 0 1rem;
}

.navLink{
    padding: 0 1.5rem;
    color: black;
}