.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6rem;
}

.contents{
    display: flex;
    align-items: center;
    gap: 32px;
}


.profilePicture {
    width: 50px;
    height: 50px ;
    border-color: yellowgreen;
    border-style: solid;
    border-radius: 50%;
}

.navList{
    display: flex;
    align-items: center;
}

.navItem{
    margin: 0 1rem;
}

.navLink{
    padding: 0 2rem;
}